services:
  app:
    build:
      context: ..
      dockerfile: docker/Dockerfile
    restart: always
    depends_on:
      - db
      - redis
    ports:
      - '3005:3000'
    expose:
      - '3000'
    env_file:
      - .env

  db:
    image: postgres:15-alpine
    container_name: ${DATABASE_HOST}
    restart: always
    environment:
      - POSTGRES_USER=${DATABASE_USERNAME}
      - POSTGRES_PASSWORD=${DATABASE_PASSWORD}
      - POSTGRES_DB=${DATABASE_NAME}
    ports:
      - '5433:${DATABASE_PORT}'
    volumes:
      - postgres_data:/var/lib/postgresql/data

  redis:
    image: redis:7-alpine
    restart: always
    command: redis-server --requirepass ${REDIS_PASSWORD}
    volumes:
      - redis_data:/data

  # nginx:
  #   image: nginx:alpine
  #   restart: always
  #   depends_on:
  #     - app
  #   ports:
  #     - '80:80'
  #     - '443:443'
  #   volumes:
  #     - ./nginx.http.conf:/etc/nginx/conf.d/default.conf:ro
  #     - certbot_certs:/etc/letsencrypt
  #     - certbot_challenges:/var/www/certbot

  # certbot:
  #   image: certbot/certbot
  #   depends_on:
  #     - nginx
  #   volumes:
  #     - certbot_certs:/etc/letsencrypt
  #     - certbot_challenges:/var/www/certbot
  #   entrypoint: >
  #     sh -c "trap exit TERM; while :; do certbot renew --webroot -w /var/www/certbot; sleep 12h; done"

volumes:
  postgres_data:
  redis_data:
  certbot_certs:
  certbot_challenges:
