services:
  app:
    build:
      context: ..
      dockerfile: docker/Dockerfile
    restart: always
    depends_on:
      - db
      - redis
    ports:
      - '3005:3000' # TODO: Remove this line in production
    expose:
      - '3000'
    env_file:
      - .env

  migrate:
    build:
      context: ..
      dockerfile: docker/Dockerfile
    depends_on:
      - db
    env_file:
      - .env
    command: >
      sh -c "pnpm typeorm migration:run -d ormconfig.js"

  db:
    image: postgres:15-alpine
    container_name: ${DATABASE_HOST}
    restart: always
    environment:
      - POSTGRES_USER=${DATABASE_USERNAME}
      - POSTGRES_PASSWORD=${DATABASE_PASSWORD}
      - POSTGRES_DB=${DATABASE_NAME}
    ports: # TODO: Remove this line in production
      - '5433:${DATABASE_PORT}'
    volumes:
      - postgres_data:/var/lib/postgresql/data

  redis:
    image: redis:7-alpine
    restart: always
    command: redis-server --requirepass ${REDIS_PASSWORD}
    volumes:
      - redis_data:/data

volumes:
  postgres_data:
  redis_data:
