services:
  app:
    build:
      context: ../backend/core
      dockerfile: docker/Dockerfile
    restart: always
    depends_on:
      - db
      - redis
      - ai
    expose:
      - "3000"
    ports:
      - "3000:3000" 
    env_file:
      - ../backend/core/.env

  migrate:
    build:
      context: ../backend/core
      dockerfile: docker/Dockerfile
    depends_on:
      db:
        condition: service_healthy
    env_file:
      - ../backend/core/.env
    command: >
      sh -c "pnpm typeorm migration:run -d ormconfig.js"

  ai:
    build:
      context: ../backend/ai
      dockerfile: Dockerfile
    restart: always
    expose:
      - "8000"
    ports:
      - "8000:8000"
    env_file:
      - ../backend/ai/.env

  db:
    image: postgres:15-alpine
    container_name: ${DATABASE_HOST}
    restart: always
    environment:
      - POSTGRES_USER=${DATABASE_USERNAME}
      - POSTGRES_PASSWORD=${DATABASE_PASSWORD}
      - POSTGRES_DB=${DATABASE_NAME}
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${DATABASE_USERNAME} -d ${DATABASE_NAME}"]
      interval: 10s
      timeout: 5s
      retries: 5
    volumes:
      - postgres_data:/var/lib/postgresql/data

  redis:
    image: redis:7-alpine
    restart: always
    command: redis-server --requirepass ${REDIS_PASSWORD}
    volumes:
      - redis_data:/data 


volumes:
  postgres_data:
  redis_data:
