services:
  app:
    image: ${COMPOSE_APP_IMAGE:-ghcr.io/data-science-nigeria/tattara/app:latest}
    restart: always
    depends_on:
      - db
      - redis
      - ai
    expose:
      - "3000"
    ports:
      - "3000:3000"
    env_file:
      - ../backend/core/.env

  migrate:
    image: ${COMPOSE_APP_IMAGE:-ghcr.io/data-science-nigeria/tattara/app:latest}
    depends_on:
      db:
        condition: service_healthy
    env_file:
      - ../backend/core/.env
    command: >
      sh -c "pnpm typeorm migration:run -d ormconfig.js"

  ai:
    image: ${COMPOSE_AI_IMAGE:-ghcr.io/data-science-nigeria/tattara/ai:latest}
    restart: always
    expose:
      - "8000"
    ports:
      - "8000:8000"
    env_file:
      - ../backend/ai/.env

  frontend:
    image: ${COMPOSE_FRONTEND_IMAGE:-ghcr.io/data-science-nigeria/tattara/frontend:latest}
    restart: always
    expose:
      - "3001"
    ports:
      - "3001:3000"
    depends_on:
      - app

  db:
    image: postgres:15-alpine
    container_name: ${DATABASE_HOST}
    restart: always
    environment:
      - POSTGRES_USER=${DATABASE_USERNAME}
      - POSTGRES_PASSWORD=${DATABASE_PASSWORD}
      - POSTGRES_DB=${DATABASE_NAME}
    healthcheck:
      test:
        ["CMD-SHELL", "pg_isready -U ${DATABASE_USERNAME} -d ${DATABASE_NAME}"]
      interval: 10s
      timeout: 5s
      retries: 5
    volumes:
      - postgres_data:/var/lib/postgresql/data

  redis:
    image: redis:7-alpine
    restart: always
    command: redis-server --requirepass ${REDIS_PASSWORD}
    volumes:
      - redis_data:/data

volumes:
  postgres_data:
  redis_data:
